button {
  cursor: pointer;
}

.game-score__button-container {
  min-width: 100px;
  padding-bottom: $s-size;
}

.game-score__button-container > div {
  display: inline;
  min-width: 100px;
}

.game-score__button-increment, .game-score__button-decrement {
  border: none;
  border-bottom: .3rem solid darken(white,10%);
  font-size: $s-size;
  font-weight: bold;
  text-align: center;
  padding: $xs-size 0 $xs-size 0;
  border-radius: $xs-size;
  margin: 0 $xs-size 0 $xs-size;
  width: $l-size;
}

.game-score__button-increment:active, .game-score__button-decrement:active {
  background: darken(white, 10%);
}

.reset-button {
  background: $orange;
  border: none;
  border-bottom: .3rem solid darken($orange, 10%);
  color: white;
  font-size: $s-size;
  font-weight: bold;
  padding: $xs-size 0 $xs-size 0;
  border-radius: $xs-size;
  width: $xxl-size;
}

.reset-button:active {
  background: darken($orange, 10%);
}

.player-increment__button {
  background: $green;
  border: none;
  border-bottom: .3rem solid darken($green, 10%);
  color: white;
  font-size: $m-size;
  text-align: center;
  font-weight: bold;
  border-radius: $xs-size;
  width: $xl-size;
}

.player-increment__button:active {
  background:darken($green, 10%);
}

.player-incremenet__button:disabled,
button[disabled] {
  color: rgba(0,0,0, 0.25);
}

