.game-score {
  background: $blue;
  color: $off-white;
  padding: 25px 175px 25px 175px;
  border: 25px;
  text-align: center;
}

.game-score__title {
  font-size: $l-size;
}

.game-score__winning-score {
  font-size: $xl-size;  
  padding-top: $l-size;
  font-family: lcd phone;
}

.game-score__winning-message, p {
  font-size: $l-size;
}

