.game-score {
  background: $off-black;
  color: $off-white;
  padding: 25px 175px 25px 175px;
  border: .3rem solid lighten($off-black, 5%);
  text-align: center; 
}

.game-score > div {
  margin: 0 auto;
}

.game-score__title {
  font-size: $l-size;
}

.game-score__winning-score {
  font-size: $xl-size;  
  padding: $l-size;
  font-family: lcd phone;
  color: white;
}

.game-score__winning-message, p {
  font-size: $l-size;
  font-style: italic;
}

@media (max-width: $mobile-breakpoint) {
  .container, .game-score > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

