.game-score {
  background: $blue;
  color: $off-white;
}

.game-score__title {
  margin: 0; //what does this actually do?
}

.game-score__winning-score {
  font-size: $l-size;  
}

.game-score__winning-message, p {
  font-size: $l-size;
}

.game-score__buttons {
  display: inline-block;
}