@import './header';
@import './game-score';
@import './player-score';


.grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "game-score game-score game-score game-score"
    "player-one player-one player-two player-player-two"
}

.header {
  grid-area: header;
}

.game-score {
  grid-area: game-score;
  padding: 25px 150px 25px 150px;
  border: 25px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.player-one {
  grid-area: player-one;
  grid-column: 2/3;
  padding: 15px;
  text-align: center;
  max-width: 200px;
  // margin-left:
}

.player-two {
  grid-area: player-two;
  grid-column: 3/4;
  padding: 15px;
  text-align: center;
  max-width: 200px;
}