.player-one, .player-two {
  background: $off-black;
  border: .3rem solid lighten($off-black, 5%);
  color: $off-white;
  padding: 15px 0 15px 0;
  text-align: center;
}

.player-one__score, .player-two__score {
  font-size: $xl-size;
  padding: $s-size;
  font-family: lcd phone;
  color: white;
}





