.player-one, .player-two {
  background: $off-black;
  color: $off-white;
  display: inline-block;
  margin: $m-size;
}

.player-one__title, .player-two__title {
  margin: 0; //what does this actually do?
}

.player-one__score, .player-two__score {
  font-size: $l-size;
}





