.player-one, .player-two {
  background: $off-black;
  color: $off-white;
  display: inline-block;
  margin: $m-size;
}

.player-one__title, .player-two__title {
  font-size: $m-size;
}

.player-one__score, .player-two__score {
  font-size: $xl-size;
  padding: $s-size;
  font-family: lcd phone;
}





